.container-form{
    display: flex;
    flex-direction: column;
    background-color: #4682B4;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container-form h2{
    color: white;
}

.container-form .cont-form{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

.container-form .cont-form .label{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.container-form .cont-form .form{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
}

.btn{
    height: 35px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    color: #4682B4 ;
    /* border: none; */
    font-weight: bold;
    font-size: 16px;
}